[submodule "sources_non_forked/jedi-vim"]
	path = sources_non_forked/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
	branch = master
[submodule "sources_non_forked/vim-scala"]
	path = sources_non_forked/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
